.panel.panel-info
  .panel-heading 試験一覧
  %ul.list-group
    - @categories.each do |category|
      %li.list-group-item
        = category.name
        - category.exams.each do |exam|
          = link_to "第#{exam.time_of_category}回", exams_path(@exam), class: 'link_to_exam'
    
